.main-container{

    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding: 20px; */
    background-color: rgb(2, 36, 10);
}
.chatList{
    /* padding: 30px; */
    /* border: 2px solid white; */
}
.currentChatBox{

    background-color: rgb(8, 26, 43);
    width: 100%;
    color: white;
    font-size: 30px;
    /* padding: 10px; */
}